.slide {
  display: none;
  margin: auto;
  align-self: center;
  align-items: center;
  justify-content: center; 
}

.img {
  align-self: center;
  align-items: center;
  justify-content: center; 
  max-width:100%;
}

.slideframe {
  max-width: 75%;
  position: relative;
  margin: auto;
  border: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.prev {
  position: absolute;
  top: 50%;
  left:0px;
  background-color: rgba(255,255,255,0.3);
  font-size: 35px;
}

.next {
  position: absolute;
  top: 50%;
  right:0px;
  background-color: rgba(255,255,255,0.3);
  font-size: 35px;
}
