ul.cooltoplist {
    list-style-type: none; margin: 0%; padding: 0;
}

li.top{
    text-align: center; font-size: 20px;
    display: inline;
}

a.top{
    text-decoration: none; width: 140px; height: 40px; background-color: deeppink; float: left; padding: 10px; padding-top: 20px; margin-left: 3px; color: black;
}

a.top:hover{
    background-color: black; color: deeppink;
}
body{
    background-color: thistle;
    color: black;
}

body{
    margin-left: 14%;
}

img{
    max-width: 95%;
}
